<section class="checkout-step summary-step">
  <span class="step-number">3</span>
  <h2 class="h2">
    Order Summary
    <span class="light-text">Please confirm your order details and proceed to payment</span>
  </h2>
</section>