<section class="checkout-step summary-step">
  <span class="step-number">3</span>
  <h2 class="h2">
    Order Summary
    <span class="light-text">Please confirm your order details and proceed to payment</span>
  </h2>
</section>

<section class="checkout-step summary-step complete">
  <span class="step-number"><i class="material-icons vertical-middle">done</i></span>
  <h2 class="h2">
    Order Summary
    <span class="light-text">
      Your order total is <span class="color-dark">$21.21</span>
    </span>
  </h2>
  <a href="javascript:void(0);" class="btn-change btn-action btn-dark">Edit Order</a>
</section>