{{> header}}
{{> flash}}
<section class="checkout-steps">
  <div class="container">
    {{> login_step}}
    {{> address_step}}
    {{> summary_step}}
    {{> payment_step}}
  </div>
</section>
{{> footer}}