.newsletter {
  background: $primary-hover;
  min-height: 74px;
  padding: 20px 0;
  .flex {
    height: 74px;
  }

  .clearfix {
    margin-top: 5px;
  }

  p {
    color: $primary-white;
    font-size: 14px;
    font-weight: 300;
    margin: 0;
  }

  .form-group, label {
    margin: 0;
  }

  .form-control {
    border: 0;
    height: 40px;
    @include border-radius(0);
  }

  p {
    padding: 10px 0;
  }

  .decorated-heading {
    color: $primary-white;
    margin: 0 0 25px 0;
    span::before {
      background: $primary-white;
      bottom: -6px;
      left: 50%;
      margin-left: -30px;
    }
  }
}