.primary-header {
  background: $primary-white;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  transition: top .2s;
  -moz-transition: top .2s;
  -webkit-transition: top .2s;
}

.logo {
  color: $primary-hover;
  display: inline-block;
  font-family: 'Kaushan Script', cursive;
  font-size: 30px;
  min-width: 150px;
}

.header-top {
  @include genericSidesStyles('bottom', 1px solid $primary-border, 'border');
  padding: 15px;
}

.menu-toggle-btn {
  color: $primary-black;
  font-size: 14px;
  text-transform: uppercase;
  position: fixed;
  left: 31px;
  top: 26px;
}

.cart-icon {
  display: inline-block;
  position: fixed;
  right: 31px;
  top: 27px;
}

.menu-toggle-btn,
.cart-icon {
  transition: top .2s;
  -moz-transition: top .2s;
  -webkit-transition: top .2s;  
}

.header-bottom {
  @include genericSidesStyles('bottom', 1px solid $primary-border, 'border');
  min-height: 40px;
  padding: 0 15px;
}

.main-search-btn {
  transition: margin-left .2s;
  -moz-transition: margin-left .2s;
  -webkit-transition: margin-left .2s;
}

.login-btn {
  transition: margin-right .2s;
  -moz-transition: margin-right .2s;
  -webkit-transition: margin-right .2s;
}

.main-search-btn,
.login-btn {
  height: 40px;
  line-height: 40px;
  display: inline-block;
  .material-icons {
    font-size: 20px;
  }
}

.login-btn {
  .material-icons {
    margin-right: 3px;
  }
}

.header-up {
  .primary-header {
    top: -74px;
  }

  .main-search-btn {
    margin-left: 60px;
  }

  .login-btn {
    margin-right: 50px;
  }

  .menu-toggle-btn {
    top: 10px;
    z-index: 1;
  }

  .cart-icon {
    top: 8px;
    z-index: 1;
  }
}