.checkout-steps {
  padding: 75px 0;
  background: $secondary-white;
  .container {
    width: 980px;
  }
}

.checkout-step {
  background: $primary-white;
  padding: 20px;
  position: relative;
  box-shadow: 0px 0px 20px 0px #ddd;
  +.checkout-step {
    margin-top: 20px; 
  }

  &.login-step {
    z-index: 4;
  }

  &.address-step {
    z-index: 3;
  }

  &.summary-step {
    z-index: 2;
  }

  &.paymant-step {
    z-index: 1;
  }

  &.complete {
    position: relative;
    .btn-change {
      font-size: 10px;
      height: auto;
      line-height: 1;
      margin-top: -15px;
      padding: 10px;
      position: absolute;
      right: 15px;
      top: 50%;
    }

    .material-icons {
      font-size: 18px;
    }

    .h2 {
      padding-bottom: 0;
    }

    .step-number {
      background: $primary-black;
    }
  }

  .h2 {
    margin: 0;
    padding-bottom: 15px;
    padding-left: 5px;
    font-size: 18px;
    text-transform: uppercase;
  }

  .light-text {
    display: block;
    text-transform: none;
    font-size: 12px;
    margin-top: 4px;
  }

  .step-number {
    @include border-radius(50%);
    align-items: center;
    background: $primary-hover;
    color: $primary-white;
    display: flex;
    font-size: 16px;
    height: 30px;
    justify-content: center;
    left: -15px;
    position: absolute;
    top: 15px;
    width: 30px;
  }
}

.checkout-step-inner {
  padding: 20px 0;
  .btn-action {
    height: 45px;
    line-height: 43px;
    text-align: center;
    text-transform: uppercase;
  }
}

.or-selection {
  align-items: center;
  color: $text-light;
  display: flex;
  font-size: 20px;
  height: 175px;
  justify-content: center;
  position: relative;
  text-align: center;
  text-transform: uppercase;

  &:before, &:after {
    background: lighten($text-light, 25%);
    content: ' ';
    height: 50px;
    left: 50%;
    margin-left: -1px;
    position: absolute;
    top: 10px;
    width: 2px;
    z-index: 1;
  }

  &:after {
    top: auto;
    bottom: 10px;
  }
}

#address-details {
  .decorated-heading {
    font-size: 16px;
    font-family: 'Montserrat-Light';
    margin: 0;
    padding-bottom: 25px;
    text-transform: uppercase;
    span:before {
      bottom: -2px;
    }
  }
}

.order-summary-table {
  &.table-body {
    padding: 12px 0;
    border-bottom: solid 1px $primary-border;
    .h3 {
      font-family: 'Montserrat-Light';
      font-size: 14px;
      line-height: 18px;
      margin: 0;
    }
    .material-icons {
      font-size: 14px;
      color: $primary-error;
    }
  }
  &.table-header {
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: solid 1px $primary-border;
  }
}

.order-total-row {
  padding-bottom: 15px;
  font-family: 'Montserrat-Light';
  font-size: 13px;
  text-transform: uppercase;
  &.final {
    font-family: "Montserrat",sans-serif;
    font-weight: 600;
    font-size: 14px;
  }
}

.order-total-details {
  @include box-shadow(0,0,10px,0,$primary-border);
  padding-top: 12px;
}

.coupon-form {
  display: none;
}
