.product-show-slider {
  .slides img {
    margin: 0 15%;
    width: 70%;
  }
}

.product-btns {
  padding: 25px 0;
  .btn-action {
    height: 50px;
    line-height: 50px;
  }
}

.flexslider {
  position: relative;
  left: -25px;
  transition: left .5s;
  &.move-in {
    left: 0;
  }
}

.flex-control-thumbs {
  text-align: center;
  display: block;
  justify-content: center;
  position: absolute;
  width: 65px;
  background: #ffffff;
  letter-spacing: 0;
  top: 0;
  z-index: 9;
  max-height: 421px;
  overflow-y: auto;
  overflow-x: hidden;
  li {
    float: none;
    width: 65px;
    width: 1005;
    img {
      border: 2px solid $primary-border;
      min-height: 66px;
      &.flex-active {
        border-color: $primary-hover;
      }
    }
  }
}

.product-price {
  color: $primary-hover;
  font-size: 20px;
  margin: 0 0 10px 0;
}

.product-title {
  color: $primary-black;
  font-size: 24px;
  margin: 0 0 10px 0;
}

.product-description {
  padding: 10px 0;
  font-size: 14px;
  color: $text-light;
  font-weight: 300;
  line-height: 22px;
}

.product-property-heading {
  padding: 15px 0;
  cursor: pointer;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  position: relative;
  margin: 0;
  &:before, &:after {
    position: absolute;
    z-index: 1;
    background: #555555;
    content: ' ';
    right: 0;
    top: 52%;
    @include scale(.65);
  }
  &:before {
    width: 16px;
    height: 2px;
    right: 0px;
    margin-top: -1px;
  }
  &:after {
    width: 2px;
    height: 16px;
    right: 7px;
    margin-top: -8px;
  }
}

.product-property {
  padding: 0 0 15px 0;
  display: none;
  margin: 0;
}

.product-show-page {
  margin: 50px 0;
}

.property-list {
  + .property-list {
    .product-property-heading {
      border-top: solid 1px $primary-border;
    }
  }
}

.product-delivery-details {
  border-top: solid 1px $primary-border;
  padding-top: 25px;
}

.product-variant {
  padding: 0;
  margin: 4px;
  width: calc(16.666% - 8px);
  border: 1px solid $primary-border;
  img {
    padding: 7px;
  }

  &.false {
    pointer-events: none;
    pointer-events: relative;
    &:before {
      content: 'Not Available';
      position: absolute;
      left: 0;
      top: 0;
      text-align: center;
      font-size: 10px;
      opacity: 1;
      height: 100%;
      width: 100%;
      background: rgba(255,255,255,.85);
      color: $primary-black;
      padding-top: 21px;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}

.variants-container {
  padding: 0 0 25px 0;
}

.left-5 {
  margin-left: 5px;
}
