<aside class="cart-container">
  <h2 class="h2 font-light">Shopping Cart</h2>
  <a href="javascript:void(0);" class="close-cart">
    <i class="material-icons">close</i>
  </a>

  <!-- If Cart Is Empty -->
  <section class="empty-cart-container text-center">
    <div class="empty-cart-icon">
      <i class="material-icons">error</i>
    </div>
    <p class="light-text">Your Shopping Cart is empty.</p>
    <a href="javascript:void(0);" class="btn-action btn-block">
      <i class="material-icons align-middle">keyboard_backspace</i>
      Go Shopping
    </a>
  </section>
  <!-- If Cart Is Empty -->

  <!-- If Cart Is Not Empty -->
  <!-- <section class="cart-container">
    
  </section> -->
  <!-- If Cart Is Not Empty -->

</aside>