<aside class="header-top">
  <div class="container-fluid">
    <div class="row">
      <a href="javascript:void(0);" class="menu-toggle-btn">
        <i class="material-icons vertical-middle">menu</i>
        <span class="vertical-middle">Menu</span>
      </a>
      <div class="col-md-6 col-md-offset-3 text-center">
        <a href="/" class="logo" class="font-bold">
          Brand Logo
        </a>
      </div>
      <a href="javascript:void(0);" class="cart-icon">
        <i class="material-icons vertical-middle">shopping_cart</i>
        <span class="vertical-middle">Cart</span>
      </a>
    </div>
  </div>
</aside>