<aside class="login-modal">
  <form id="login">
    <input type="email" name="" placeholder="email" id="user-login-name">
    <input type="password" name="" placeholder="password" id="user-login-password">
    <input type="submit" value="Log in">
  </form>
</aside>
