<!-- {{#if is_logged_in }}
  <a href="javascript:void(0);" data-toggle="modal" data-target="#login-modal" class="login-btn">
    <i class="material-icons vertical-middle">person</i> Login
  </a>
{{else}}
  <a href="javascript:void(0);">
    Logout
  </a>
{{/if}} -->

<a href="javascript:void(0);" data-toggle="modal" data-target="#login-modal" class="login-btn">
  <i class="material-icons vertical-middle">person</i> Login
</a>