<div class="modal fade" id="login-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Login</h4>
      </div>
      <div class="modal-body">
        <aside class="login-modal">
          <form id="login">

            <div class="form-group">
              <div class="input-group">
                <span class="material-icons vertical-middle input-group-addon">mail_outline</span>
                <input type="email" class="form-control" id="user-login-name" placeholder="Email">
              </div>
            </div>

            <div class="form-group">
              <div class="input-group">
                <span class="material-icons vertical-middle input-group-addon">lock_outline</span>
                <input class="form-control" id="user-login-password" type="password" placeholder="Password">
              </div>
            </div>

            <button type="submit" class="btn-action btn-block">
              <span class="material-icons vertical-middle">flash_on</span>
              Log in
            </button>
          </form>
        </aside>
      </div>
      <div class="modal-footer">
        <p class="text-center">
          <a href="javascript:void(0);" data-dismiss="modal" data-toggle="modal" class="color-yellow btn-modal-open" data-target="#forgot-password-modal">Forgot Password?</a></p>
        <p class="no-margin text-center">
          Don't have a account? 
          <a href="javascript:void(0);" data-target="#signup-modal" data-dismiss="modal" data-toggle="modal" class="color-yellow btn-modal-open">Sign Up</a>.
        </p>
      </div>
    </div>
  </div>
</div>
