{{#isLoggedIn}}
  <ul class="my-profile">
    <li>
      <span>
        <i class="material-icons vertical-middle">face</i> 
        Profile
      </span>
      <ul class="sub-menu text-right">
        <li>
          <a href="/my_orders">My orders</a>
        </li>
        <li>
          <a href="javascript:void(0);" id="logout">Logout</a>
        </li> 
      </ul>
    </li>
  </ul>
{{else}}
  <a href="#login-modal" data-toggle="modal" class="login-btn">
    <i class="material-icons vertical-middle">person</i>
    Login
  </a>
{{/isLoggedIn}}
