{{#isLoggedIn}}
  <a href="javascript:void(0);">Logout</a>
{{else}}
  <a href="#login-modal" data-toggle="modal" class="login-btn">
    <i class="material-icons vertical-middle">person</i>
    Login
  </a>
{{/isLoggedIn}}
