<section class="newsletter">
  <div class="container">
    <div class="row row-5px flex align-center">
      <div class="col-md-5">
        <p>New products, new ideas and a whole bunch of madness delivered to your inbox as it happens!</p>
      </div>
      <div class="col-md-7">
        <form class="clearfix">
          <div class="form-group col-md-4 col-5px">
            <label>
              <input type="text" name="" placeholder="Email" class="form-control">
            </label>
          </div>
          <div class="form-group col-md-4 col-5px">
            <label>
              <input type="text" name="" placeholder="Name" class="form-control">
            </label>
          </div>
          <div class="form-group col-md-4 col-5px">
            <button type="submit" class="btn-action btn-dark btn-block">Subscribe</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>