<aside class="sign-up-modal">
  <form id="sign-up">
    <input type="text" name="" placeholder="name" id="user-sign-up-name">
    <input type="password" name="" placeholder="password" id="user-sign-up-password">
    <input type="submit" value="sign up">
  </form>
</aside>