<aside class="sign-up-modal">
  <form id="sign-up">
    <div class="form-group">
      <input type="email" name="" placeholder="Enter Email" id="user-sign-up-name" class="form-control">
    </div>
    <div class="form-group">
      <input type="password" name="" placeholder="Enter Password" id="user-sign-up-password" class="form-control">  
    </div>
    <div class="form-group margin-0">
      <input type="submit" value="Log In" class="btn-action btn-block">  
    </div>
  </form>
</aside>
