$primary-black   : #000000;
$secondary-black : #333333;
$primary-border  : #e1e1e1;
$primary-hover   : #EAA001;
$primary-white   : #ffffff;
$link-light      : #999999;
$transparent     : rgba(0,0,0,0);