*:focus {
  outline: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  padding-top: 113px;
}

a {
  color: $primary-black;
  &:focus,
  &:hover,
  &:active {
    color: inherit;
    text-decoration: none;
  }
  &:hover {
    color: $primary-hover;
  }
}

img {
  vertical-align: top;
}

hr {
  border-top-color: $primary-border;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
}

.p-l-0 {
  padding-left: 0!important;
}

.p-r-0 {
  padding-right: 0!important;
}

.m-t-10 {
  margin-top: 10px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-t-25 {
  margin-top: 25px;
}

.m-t-30 {
  margin-top: 30px;
}

.m-t-50 {
  margin-top: 50px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.p-t-30 {
  padding-top: 30px;
}

.p-t-50 {
  padding-top: 50px;
}

.font-light {
  font-family: 'Montserrat-Light';
}

.font-bold {
  font-weight: 700;
}

.padding-0 {
  padding: 0;
}

.margin-0 {
  margin: 0!important;
}

.img-full {
  width: 100%;
}

.uppercase {
  text-transform: uppercase;
}

.vertical-middle {
  vertical-align: middle;
}

.container-5px {
  padding: 0 5px;
  .row-5px {
    margin: 0 -5px;
    .col-5px {
      padding: 5px;
    }
  }
}

.row-5px {
  margin: 0 -5px;
  .col-5px {
    padding: 5px;
  }
}

.col-5px {
  padding: 0 5px;
}

.truncate {
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &.full {
    max-width: 100%;
  }
}

.align-middle {
  vertical-align: middle;
}

.left-10 {
  display: inline-block;
  margin-left: 5px;
}

.btn-cart {
  background: $transparent;
  border: 1px solid $primary-white;
  color: $primary-white;
  font-size: 16px;
  min-width: 150px;
  height: 40px;
  line-height: 26px;
  @include border-radius(0);
  @include animate(.35s);
  &:hover {
    background: $primary-white;
    color: rgba(234,160,1,.8);
  }
}

.btn-view-all,
.btn-action {
  color: $primary-white;
  background: $primary-hover;
  border-color: $primary-hover;
  padding: 0 15px;
  font-size: 15px;
  letter-spacing: .5px;
  height: 40px;
  line-height: 38px;
  text-transform: uppercase;
  @include border-radius(0);
  @include animate(.35s);
  &:hover {
    background: $transparent;
    color: $primary-hover;
  }
}

.btn-view-all {
  line-height: 37px;
  font-size: 14px;
}

.btn-action {
  border: 0;
  &:hover, &:focus {
    background: lighten($primary-hover, 10%);
    color: $primary-white;
  }
}

.btn-dark {
  background: $primary-black;
  &:hover, &:focus {
    background: lighten($primary-black, 25%);
    color: $primary-white;
  }
}

.light-text {
  @include genericStyles('font-size', 14px);
  color: $text-light;
  font-weight: 300;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  height: 45px;
  @include border-radius(0);
  &:focus {
    border-color: $primary-hover;
    box-shadow: inset 0 1px 1px rgba(234, 160, 1, 0.075), 0 0 8px rgba(234, 160, 1, 0.6);
  }
}

.flexslider {
  @include border-radius(0);
  background: $transparent;
  border: 0;
  margin: 0;
  position: relative;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-width {
  display: block;
  width: 100%;
}

::-webkit-input-placeholder {
  color: $primary-black!important;
  font-family: 'Montserrat-Light';
  font-size: 12px;
  font-weight: 100;
  opacity: 1;
  text-transform: uppercase;
}

:-moz-placeholder {
  color: $primary-black!important;
  font-family: 'Montserrat-Light';
  font-size: 12px;
  font-weight: 100;
  opacity: 1;
  text-transform: uppercase;
}

::-moz-placeholder {
  color: $primary-black!important;
  font-family: 'Montserrat-Light';
  font-size: 12px;
  font-weight: 100;
  opacity: 1;
  text-transform: uppercase;
}

:-ms-input-placeholder {
  color: $primary-black!important;
  font-family: 'Montserrat-Light';
  font-size: 12px;
  font-weight: 100;
  opacity: 1;
  text-transform: uppercase;
}

.modal-dialog.modal-md {
  width: 350px;
}

.modal-dialog:not(.normal-modal) {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 0;
  transform: translate(-50%, -50%)!important;
  -moz-transform: translate(-50%, -50%)!important;
  -webkit-transform: translate(-50%, -50%)!important;
}

.modal-content {
  @include border-radius(0);
}

.modal-header {
  background: $primary-white;
  color: $primary-black;
  text-transform: uppercase;
  text-align: center;
  position: relative;

  .close {
    color: $primary-white;
    opacity: 1;
    position: absolute;
    width: 20px;
    height: 20px;
    background: $primary-black;
    @include border-radius(50%)
    right: -9px;
    top: -8px;
    text-align: center;
    font-size: 16px;
    &:hover {
      background: $primary-hover;
    }
  }
}

.color-yellow {
  color: $primary-hover;
}

.color-dark {
  color: $primary-black;
}

.input-group-addon {
  @include border-radius(0);
  background: $primary-hover;
  padding: 5px 10px;
  border: 0;
  color: $primary-black;
  font-size: 16px;
}

.input-group-addon + .form-control {
  border-left: 0;
}

.no-margin {
  margin: 0;
}

.modal-footer {
  background: $primary-black!important;
  color: $primary-white;
  .color-yellow:hover {
    color: $primary-white;
  }
}

.modal-backdrop.in {
  background: $primary-white;
  opacity: .85;
}

.modal-content {
  border: 0;
}

#flash {
  @include animate(.25s);
  background: $primary-success;
  color: $primary-white;
  max-width: 300px;
  padding: 10px;
  position: fixed;
  right: 6px;
  text-align: center;
  top: -50px;
  z-index: 1000;
  &:empty {
    padding: 0;
  }
  &.slide-down {
    top: 6px;
  }
}

.scroll-top {
  @include animate(.25s);
  background: $primary-black;
  bottom: 15px;
  color: $primary-white;
  cursor: pointer;
  font-size: 20px;
  height: 35px;
  opacity: 0;
  position: fixed;
  right: -35px;
  visibility: hidden;
  width: 35px;
  z-index: 10;
  &:hover {
    background: $primary-hover;
  }
  &.slide-up {
    right: 15px;
    opacity: 1;
    visibility: visible;
  }
}

.block {
  display: block;
  width: 1005;
}
