{{> header}}
{{> search}}
{{> login_form}}
{{> signup_form}}
{{> forgot_password}}
{{> menu_container}}

<section class="category-page-wrapper">
  <div class="container category-section-all category-page">
    <h1 class="decorated-heading text-center">
      <span class="text-uppercase">Shop By Category</span>
    </h1>
    <ul class="categorie-list clearfix text-center">
      {{#each categories}}
        {{#if parent_id}}
          <li class="col-md-4 single-category">
            <a href={{#productCategoryUrl id}}{{body}}{{/productCategoryUrl}} class="block">
              <img src="../images/category_{{id}}.jpg" class="img-full" />
              <h3 class="category-name">{{name}}</h3>
            </a>
          </li>
        {{/if}}
      {{/each}}
    </ul>
  </div>
</section>

{{> newsletter}}
{{> scroll_top}}
{{> footer}}