{{> header}}

<div class="container">
  <ul>
    {{#each categories}}
      {{#if parent_id}}
        <li class="col-md-4">
          <a href={{#productCategoryUrl id}}{{body}}{{/productCategoryUrl}}>{{name}}</a>
        </li>
      {{/if}}
    {{/each}}
  </ul>
</div>

{{> header}}
