{{> header}}
{{> search}}
{{> login_form}}
{{> signup_form}}
{{> menu_container}}
{{> cart}}

<div class="category-section category-section-all category-products">
  <h1 class="decorated-heading text-center to-be-hidden">
    <span class="text-uppercase">Category Products</span>
  </h1>
  <div class="container container-5px products-found">
    <div class="row p-t-30 row-5px">
      <div class="col-md-3">Filters</div>
      <div class="col-md-9">
        <div class="row flex-product-row">
          {{#each products}}
            <div class="col-md-4 text-center col-5px single-product">
              <div class="product-container">
                <img src={{#productImageUrl image_ids ../images}}{{body}}{{/productImageUrl}} class="img-full">
                <h3 class="product-name">{{name}}</h3>
                <h4 class="product-price">${{price}}</h4>
                <div class="product-container-inner">
                  <a href={{#productUrl id}}{{body}}{{/productUrl}} class="btn btn-cart">View Details</a>
                  <div class="product-options text-center">
                    <a href="javascript:void(0);">
                      <i class="material-icons">favorite</i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          {{/each}}
        </div>
        <div class="row pagination-row">
          <nav aria-label="Page navigation" class="main-pagination text-center">
            <ul class="pagination">
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div class="container products-not-found hide text-center">
    <h1 class="text-uppercase">OOPS!</h1>
    <p>
      It looks like this page no longer exists. <br> Would you like to got to <a href="/" class="color-yellow">homepage</a> instead?
    </p>
  </div>

</div>

{{> newsletter}}
{{> scroll_top}}
{{> footer}}
