{{> header}}
{{> flash}}
{{> menu_container}}
{{> cart}}
{{> login_form}}
{{> signup_form}}
{{> forgot_password}}
{{> search}}

<section class="product-show-page">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        {{> product_show_left}}
      </div>
      <div class="col-md-5">
        {{> product_show_right}}
      </div>
    </div>
  </div>
</section>

{{> newsletter}}
{{> scroll_top}}
{{> footer}}
